*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
:root{
    --bg-color : #dfeff0; 
    --second-bg-color:#0E7C7B;
    --hightlight-color:#17BEBB;
    --text-color : #0F110C;
    --second-text-color : #F9F1F1;

    --p-font:1rem;
    --h1-font:2rem;
    --h2-font:1.5rem;
}
body{
    background: var(--bg-color);
    transition: all .5s ease;
    
}
.card{
    width: 90%;
    /* height: 90vh; */
    max-width: 470px;
    background: url(./assets/download.jpg);
    background-size: cover;
    color: var(--second-text-color);
    border-radius: 2.5rem;
    margin: 40px auto 20px;
    padding: 40px 35px;
    text-align: center;
    filter: drop-shadow(2px 5px 12px var(--text-color));
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: var(--second-text-color);
    color: var(--text-color);
    padding: 10px 25px;
    height: 60px;
    border-radius: 5rem;
    flex: 1;
    margin-right: 16px;
    font-size: var(--p-font);
}
.search button{
    border: 0;
    outline: 0;
    background: var(--second-text-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 20px;
    padding-top: 5px;
}
.wheather-icon{
    width: 170px;
    margin-top: 30px;
}
.wheather h1{
    font-size: 5rem;
    font-weight: 500;
}
.wheather h2{
    font-size: 3rem;
    font-weight: 400;
    margin-top: -10px;

}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: var(--h2-font);
    margin-top: -6px;
}
.wheather{
    display: none;
    transition: all .5s ease;
}

@media (max-width:500px) {
    .card{
        width: 80%;
        /* height: 90vh; */
        max-width: 370px;
        margin-top: 15px;
        padding: 30px 25px;
        text-align: center;
        filter: drop-shadow(2px 5px 12px var(--text-color));
    }
    .search input{
        width: 220px;
    }
    .wheather h1{
        font-size: 4rem;
    }
    .wheather h2{
        font-size: 2.5rem;
    }
    .details{
        padding: 0 10px;
        margin-top: 40px;
    }
    .humidity,.wind{
        font-size: 1rem;
        margin-top: -6px;
    }
    .col img{
        width: 30px;
        margin-right: 10px;

    }
    .hum{
        margin-right: 10px;
    }
}
@media (max-width:450px) {
    .card{
        width: 75%;
        /* height: 90vh; */
        max-width: 340px;
        margin-top: 25px;
        padding: 40px 35px;
        text-align: center;
        filter: drop-shadow(2px 5px 12px var(--text-color));
    }
    .search input{
        width: 170px;
    }
    .wheather h1{
        font-size: 4rem;
    }
    .wheather h2{
        font-size: 2.5rem;
    }
    .details{
        padding: 0 10px;
        margin-top: 40px;
    }
    .humidity,.wind{
        font-size: 0.8rem;
        margin-top: -6px;
    }
    #hum{
        font-size: .8rem;
    }
    .col img{
        width: 25px;
        margin-right: 10px;

    }
    .hum{
        margin-right: 10px;
    }
}
@media (min-width:350px) {
    .card{
        width: 80%;
        /* height: 90vh; */
        max-width: 340px;
        margin-top: 25px;
        padding: 40px 35px;
        text-align: center;
        filter: drop-shadow(2px 5px 12px var(--text-color));
    }
    .search input{
        width: 140px;
        height: 50px;
    }
    .search button{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .wheather h1{
        font-size: 4rem;
    }
    .wheather h2{
        font-size: 2.5rem;
    }
    .details{
        padding: 0 10px;
        margin-top: 40px;
    }
    .humidity,.wind{
        font-size: 0.8rem;
        margin-top: -6px;
    }
    #hum{
        font-size: .8rem;
    }
    .col img{
        width: 25px;
        margin-right: 10px;

    }
    .hum{
        margin-right: 10px;
    }
}

